
/* -------------------------        MASTER STYLES       ---------------------*/

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #2e354f;
}

/*------------------------        FONT STYLES        ------------------------*/

h1, h2, strong {
    font-weight: 900;
}

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 24px;
    color: #ef5839;
}

ul {
    font-size: 1.5rem;       
    /* 1em = 100% of parent font-size (section-one or body if no section-one style) */
}

a {
    color: #ef5839;
}

a:hover, a:focus {
    color: #d4b44c;
}

/* -------------------------       LAYOUT STYLES       ----------------------*/

header {
    background: #2e354f;
    padding: 45px 0;
    color: #fff;
}

section {
    padding: 45px 0;
}

.container {
    width: 620px;
    margin: 0 auto;

}

.section-two {
    background: #2e354f;
    color: #fff;
}


/*------------------------      SECTION STYLES        -----------------------*/

.section-one {
    font-size: 17px;
}

/*----------------------        BUTTON STYLES       -------------------------*/

.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}

.btn-accent {
    background: #ef5839;
    color: #fff;
}

.btn-accent:hover {
    color: #2e354f;
    background: #d4b44c;
}

.btn-white {
    background: #fff;
    color: #2e354f;
}

.btn-white:hover {
    color: #2e354f;
    background: #999;
}


